form{
  display:flex;
  flex-direction:row;
  border: none;
  padding:1px;
}
.close-search{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #fb7a2f;
    outline: none;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    font-weight: 500;
    z-index: 1;
    position: relative;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}
.close-search::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    z-index: -1;
    transition: all 250ms
}
.close-search:hover{
    color: #fb7a2f;
    border: 1px solid #fb7a2f;
}
.close-search:hover::before{
    width: 100%;
}

.search-input{
    width: 300px;
    padding: 10px;
    border: 1px solid #fb7a2f;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 18px;
    transition: all 0.3 ease;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 5px #ff9456c9
}

.search-container{
    animation: fadeIn 0.3s ease-out, fadeOut 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.date-picker-button{
    width: auto;
    outline: none;
    padding: 9px;
    background-color: #fb7a2f;
    border: 1px solid transparent;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s;
    font-size: 20px;
}

.date-picker-button:hover{
    background-color: #e16b27;
    transition: all 0.2s;
}

.date-picker-button:active{
    transform: scale(0.97);
}

.date-table{
    background-color: #f3f3f3;
    box-shadow: 10px 5px 5px #00000046;
    color: #000;
    position: fixed !important;
    left: 20%;
}
.date-input {
    width: 200px;
    padding: 9px;
    border: 1px solid #fb7a2f;
    border-radius: 0 4px 4px 0;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    caret-color: transparent; /* Ẩn con trỏ nhấp nháy */
    appearance: none;
}
.date-input:focus{
    outline: none;
    box-shadow: 0 0 5px #ff9456c9
}
/*rdp*/
.rdp-month_caption {
    margin-left: 5px;
}