.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.form-align{
    width: 100%;
}
.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}
.list{
    width: 100%;
    height: 60vh;
    margin-top: 10px;
}
.infinite-scroll-container{
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: #4d4d4d #686868;
    height: 47vh;
}
.loading-message, .no-more-items {
  padding: 10px;
  text-align: center;
  font-style: italic;
  color: #666;
}
.add-button-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50px;
}
/* .add-button-2{
    width: auto;
    padding: 10px;
    border: unset;
    border-radius: 4px;
    color: #fff;
    z-index: 1;
    background: #fb7a2f;
    position: relative;
    font-weight: 500;
    font-size: 20px;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}
.add-button-2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 4px;
    background-color: #fff;
    z-index: -1;
    transition: all 250ms
}
.add-button-2:hover{
    color: #fb7a2f;
    border: 1px solid #fb7a2f;
}
.add-button-2:hover::before{
    width: 100%;
} */
.task-input {
    width: 300px;
    padding: 9px;
    border: 1px solid #fb7a2f;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 20px;
}
.task-input:focus{
    outline: none;
    box-shadow: 0 0 5px #ff9456c9
}
.list-gap{
    margin: 20px;
}
.icon-plus{
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
}

.input-display{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 50px;
    gap: 10px;
}

.text-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
    border: 1px solid #fb7a2f;
    
}

.upper-select{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.highlight {
  background-color: #abab1b;
}

.popup{
  position: fixed;
  top: 50px;
  left: 50px;
  background: #333;
  color: white;
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}
.task-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-button-2-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.vertical-line {
    width: 1px;
    height: 30px;
    background-color: #fb7a2f;
    margin: 0 10px;
}

.theme-button{
    background-color: #fb7a2f;
    color: unset;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}