.form{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.form-align{
    width: 100%;
}
.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 60vh;
}
.custom-scrollbar{
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: #4d4d4d #686868;
}
.list{
    width: 100%;
    height: 60vh;
    background-color: #676767;
    border-radius: 5px;
    margin-top: 10px;
}
.add-button-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50px;
}
.add-button-2{
    width: auto;
    padding: 10px;
    border: unset;
    border-radius: 4px;
    color: #fff;
    z-index: 1;
    background: #fb7a2f;
    position: relative;
    font-weight: 500;
    font-size: 20px;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}
.add-button-2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 4px;
    background-color: #fff;
    z-index: -1;
    transition: all 250ms
}
.add-button-2:hover{
    color: #fb7a2f;
    border: 1px solid #fb7a2f;
}
.add-button-2:hover::before{
    width: 100%;
}
.task-input {
    width: 300px;
    padding: 9px;
    border: 1px solid #fb7a2f;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 20px;
}
.task-input:focus{
    outline: none;
    box-shadow: 0 0 5px #ff9456c9
}
.list-gap{
    margin: 20px;
}
.icon-plus{
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
}

.input-display{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
}

.text-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.upper-select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}